<mat-toolbar class="toolbarNew" color="primary">
  <span class="title-center">Candidates</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Candidate skill id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="candidate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.candidate.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.candidate.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.candidate.contactNumber}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.candidate.dateOfBirth}}</mat-cell>
      </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

</div>